<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-5">
        <!-- <h1 class="d-flex justify-content-center display-1">Your Catholic church hub</h1> -->
        <h1 class="d-flex justify-content-center display-1">This is the main header.</h1>
        <section class="mt-2">
            This is the place for you. This is the place for you. This is the place for you. This is the place for you. This is the place for you. This is the place for you. This is the place for you. This is the place for you. 
        </section>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h2>This is the first col.</h2>
            <section>
                This is the info of the first column.
            </section>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h2>This is the Second col.</h2>
            <section>
                This is the info of the second column.
            </section>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h2>This is the Third col.</h2>
            <section>
                This is the info of the third column.
            </section>
        </div>
    </div>
</div>
