<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="mt-5">Parishinor Login:</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-5">
            <label for="username">Login:</label>
            <input type="text" id="username">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="password">Password:</label>
            <input type="text" id="password">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="submit">Submit</button>
        </div>
    </div>
</div>
